NEXT_PUBLIC_SUPABASE_URL=https://ytdkghtirgvvfrcerkjq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
DATABASE_PASSWORD=your-db-password
DATABASE_URL=postgresql://postgres.ytdkghtirgvvfrcerkjq:YOUR_PASSWORD@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
DATABASE_URL_SESSION=postgresql://postgres.ytdkghtirgvvfrcerkjq:YOUR_PASSWORD@aws-0-sa-east-1.pooler.supabase.com:5432/postgres
