# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
dist

# env / secrets
.env
.env.local
.env.*.local
!.env.example

# debug / os
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.pem

# typescript
next-env.d.ts
*.tsbuildinfo

# ide
.idea
.vscode

# sync logs
scripts/.sync-cookies.json
scripts/sync-progress.log
